.color-input {
  position: relative;
}

.palette-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.color-palette {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  background: white;
  /* border: 1px solid #ccc; */
  padding: 10px;
  border-radius: 8px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.color-palette .item {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.2s;
}

.color-palette .item.chosen {
  box-shadow: 0 2px 8px rgb(0, 0, 0);
}

.color-palette .item.no-color img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.icon-palette {
  background-color: rgba(255, 255, 255, 0);
}

.icon-palette:hover {
  background-color: #f0f0f03f;
  border-radius: 8px;
}