.logo {
  /* height: 40px; */
  width: auto;
}


.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #f2f2f2;
  margin-bottom: 2rem;
  border-radius: 8px;
}

.note-header input {
  align-items: center;
}

.header-load-icon {
  border: none;
}