.note-add {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
}

.note-add input {
    flex: 1;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;

}

.note-add button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}