
/* this is MailNavBar.css */
.side-header-container {
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: #f1f3f4;
    padding: 16px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* margin-top: 76px; */
    z-index: 1;
}

.inner-container{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    align-items: flex-start;
    margin-left: 30px;
    font-size: 1.2em;
    font-weight: bold;
    gap: 20px;
}

.mail-count{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.new-mail {
    cursor: pointer;
}

.Sent {
    cursor: pointer;
}

.stared {
    cursor: pointer;
}

.inbox {
    cursor: pointer;
}

