.mail-details {
    border: 2px solid black;
    display: flex;
    /* justify-content: space-bet; */
}

.new-mail {
    cursor: pointer;
}

.Sent {
    cursor: pointer;
}

.stared {
    cursor: pointer;
}

.inbox {
    cursor: pointer;
}

ul.mail-list{
    margin-left: 220px;
}