 /* mail list */

.mail-list{
background-color: #fff;
  border-radius: 30px;
}

 .google-pic {
   height: auto;
   cursor: pointer;
   margin-left: 220px;
   width: 120px;
 }

 li.bold:hover {
   background-color: lightblue;
   transition: 0.5s;
 }

 li.not-bold:hover {
   transition: 0.5s;
   background-color: lightblue;
 }

 /* this is MailInput */

 .mail-sort {
   width: 100px;
 }


