*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* font-family: var(); */

}

body {
    background-color: #f8fafd;
    height: 100vh;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: var();
}

a {
    text-decoration: none;
    color: unset;
}

button,
input,
select {
    font-family: var();
}

button {
    cursor: pointer;
}

select {
    cursor: pointer;
}



input[type="checkbox"] {
    height: auto;
    background-color: transparent;
    padding: 0;
}