.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.mail-list{
    list-style-type: none;
}

.mail{
    margin-top: 40px;
}

.bold{
font-weight: bold;
}

.not-bold{
    font-weight: lighter;
}

.flex.bold{
    gap: 70px;
}

.flex.not-bold{
    gap: 70px;
}