.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}



.notes-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notes-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

.note-list-container h2 {
  margin: 1rem 0 0.5rem;
  font-weight: bold;
}

.pin-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}





/* .notes-list li:last-child {
  border-bottom: none;
}

.notes-list button.close {
  background: transparent;
  border: none;
  color: #c00;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 15px;
}

.notes-list button.close:hover {
  color: #900;
}

.note-nav button {
  margin-left: 8px;
  background: #007bff;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.note-nav button i {
  margin-right: 5px;
}

.note-nav button:hover {
  background: #0056b3;
} */