.note-index {
  padding: 2rem;
  max-width: 1400px;
  margin: auto;
}


.note-controls {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.note-controls input {
  padding: 0.5em;
  border-radius: 0.3em;
  border: none;
}

