.note-index {
    padding: 2rem;
    max-width: 1000px;
    margin: auto;
}

.notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
}
