.note-preview {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: Arial, sans-serif;
  /* display: flex; */
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;


}

.note-preview:hover {
  box-shadow: 0px 0px 15px #ddd;
  scale: 1.01;
  transition: 0.3s;

}

.note-preview h3 {
  font-size: 1.1rem;
  margin-bottom: 8px;
  color: #333;
}

.note-preview img {
  width: 100%;
  height: auto;
  /* max-height: 250px; */
  object-fit: contain;
  border-radius: 6px;
  margin-bottom: 8px;
}

.note-preview ul {
  padding-left: 20px;
  margin: 0;
  list-style-type: disc;
  color: #444;
}

.note-preview ul li {
  margin-bottom: 4px;
  font-size: 0.95rem;
}

.note-preview ul li.done {
  text-decoration: line-through;
  color: #999;
  opacity: 0.7;
}

.btn-remove {
  display: flex;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  justify-content: center;
  margin: auto;
  margin-top: 15px;
  padding-top: 0.5em;
  /* display: none; */
}

.btn-remove:hover {
  background-color: #f0f0f03f;
  border-radius: 8px;
}

/* .note-preview:hover .btn-remove {
  display: block;
} */