.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}



.notes-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notes-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

.note-list-container h2 {
  margin: 1rem 0 0.5rem;
  font-weight: bold;
  text-align: center;
}

.pin-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}


